/* aq nós alinhamos tudo ao centro */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background:rgb(139, 184, 236);
    padding:30px;
    text-align:center;
}

h1{
    margin-bottom:20px;
}

.busca-container{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-bottom:20px;
}

input{
    padding:10px;
    width:250px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    padding:10px 15px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    background:#295aec;
    color:white;
}
button:hover{
    opacity:.8;
}
.card{
    max-width:350px;
    margin:20px auto;
    background:rgb(255, 255, 255);
    border-radius:10px;
    padding:20px;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
}

.card img{
    width:200px;
    border-radius:10px;
}

table{
    width:80%;
    margin:auto;
    border-collapse:collapse;
}

th, td{
    border:1px solid #ccc;
    padding:10px;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 6px rgba(255, 255, 255, 0.1);
}

th{
    background:rgb(22, 115, 221);
}

.erro{
    color:red;
    margin-top:10px;
}

.excluir{
    background:#e74c3c;
}

.excluir:hover{
    opacity:.8;
}
